.panel-content {
    padding: 20px;
    border-radius: 10px;
}

.pregunta-item {
    margin-bottom: 2%;
    border-radius: 15px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    padding: 15px;
}

    .pregunta-item h5 {
        font-weight: bold;
    }

.icono-editar {
    width: 30px;
    height: 30px;
}

.respuesta-card,
.respuesta-pendiente {
    border-radius: 15px;
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    padding: 15px;
}

    .respuesta-card .card-body,
    .respuesta-pendiente .card-body {
        padding: 15px;
    }

    .respuesta-pendiente .texto-pendiente {
        color: #007bff;
    }

.btn {
    margin-left: 10px;
}
